@import "null.css";

h2 {
  padding: 30px;
  margin-bottom: 15px;
}
.container {
  margin: 0 auto;
  width: 700px;
}

.block-labels {
  display: flex;
  flex-direction: column;
  align-items: center;
}
label:not(:last-child) {
  margin-bottom: 5px;
}

input {
  border: 1px solid black;
  margin-left: 20px;
}
